<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Document</title>
</head>
<body>
    <a href="/">Go back to Homepage</a>
    <img class="björkgif"  src="/index.gif" alt="gif">
    <div class="text">
        <h1>Björk is considered important for artists worldwide for several reasons:</h1>
        

    Innovative musical style: Björk's unique blend of electronic, experimental, and classical music has influenced and inspired many musicians and artists.
    Conceptual albums: Björk's albums often have a conceptual theme, including the use of multimedia and technology, that is not seen in most pop albums, and has inspired other artists to explore similar ideas.
    Artistic collaborations: Björk's collaborative approach to making art, where she works with a range of artists from different fields, has set a precedent for other artists to follow.
    Exploration of new technologies: Björk's use of technology in her music and art has inspired other artists to explore new technologies and incorporate them into their own work.
    Fearless experimentation: Björk's willingness to take risks and experiment with new ideas has encouraged other artists to push boundaries and be more daring in their own work.
    </div>


    <script src="script.js"></script>
</body>
</html>