<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Document</title>
</head>
<body>
    <section class="header">
        <divc class="title-wrapper">
          <h1 class="sweet-title">
            <span data-text="Sweet">Björk</span>
            <span data-text="Stuff">Fanpage</span>
          </h1>
          <span class="top-title">Paul's small and ugly little</span>
          <span class="bottom-title">in order to learn somethin about node and express</span>
          </div>
      </section>
      <section class="disclaimer">
        <span>Thank you <a href="https://www.makesweetbeats.com/">makesweetbeats</a> for the css-design</span>
      </section>
      
    <a class="text" id="link1" href="/about">About</a>
    <a  class="text" id="link2" href="/works">Works</a>



    <script src="script.js"></script>
</body>
</html>