<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Document</title>
</head>
<body>
    <a href="/">Go back to Homepage</a>
    <img class="björkgif"  src="/index1.gif" alt="gif">
    <div class="text">
        <h1>Throughout her career, Björk has accomplished a wide range of projects and accomplishments, including:</h1>
        


        Music career: Björk is a singer, songwriter, and producer who has released several critically acclaimed albums and collaborated with many other musicians and producers.
        Film: Björk has appeared in several films, including Dancer in the Dark and Drawing Restraint 9, and contributed music to numerous film soundtracks.
        Fashion: Björk has collaborated with fashion designers, such as Alexander McQueen and Bernhard Willhelm, to create unique stage costumes and music videos.
        Technology: Björk has explored the use of technology in her music and art, incorporating new technologies into her albums and live performances.
        Philanthropy: Björk is involved in several charitable causes, including environmental conservation, human rights, and disaster relief efforts.
        Awards: Björk has received numerous awards and accolades, including several Grammy Awards, Brit Awards, and Iceland Music Awards.
    </div>

    
    



    <script src="script.js"></script>
</body>
</html>